.find .find__header-list {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}

.find .header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find .header-btn_title {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.find .header-btn__icon i {
  font-size: 28px;
}

.find .find__recommended {
  margin-top: 20px;
  padding-top: 15px;
  border-top: solid 1px #f7f7f7;
}

.find .find__title {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 20px;
}
