.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 55px;
  border-radius: 38.5%;
}

.friend__avatar.g-avatar {
  /*width: 70px;*/
}
